@charset "utf-8";
/* CSS Document */

body
{
	margin: auto;
}

#bg
{
	/*background-color: aqua;*/
	background-image: url(picture/header.jpg);
	background-size: 100% 300px;
	background-repeat: no-repeat;
	width: 1000px;
	/*height: 700px;*/
	text-align: center;
	margin: auto;
}

.clear
{
	clear: both;
}

#menu
{
	/*background-color: aliceblue;*/
	height: 50px;
}

.kiriMenu
{
	float: left;
	width: 50px;
	padding: 20px;
}

#subMenu
{
	float: right;
	/*background-color: red;*/
	text-align: center;
	height: 100%;
}

.subMenu
{
	float: left;
	padding: 0px 10px;
	border-radius: 15px;
	margin: 12.5px;
	border: 10px #F40004;
}

.subMenu:hover
{
	background-color: darkcyan;
}

a
{
	color: black;
	text-decoration: none;
}

.subMenu:active
{
	background-color: aliceblue;
}

.subMenu:visited
{
	background-color: orange;
}

#header
{
	/*background-color: yellow;*/
	height: 200px;
	border-radius: 0px 0px 20px 20px;
}

.kiriHeader
{
	margin-left: 10px;
	background-color: rgba(240,248,255,0.50);
	float: left;
	width: 490px;
}

#img
{
	animation-duration: 5s; /*jika ada 5 frames 0%, 25%, dst, maka pakai 5s, 1 detik 1 frames*/
	animation-iteration-count: infinite;
	animation-name: imgAnimasi;
	position: relative;
}

@keyframes imgAnimasi
{
	0% {opacity: 0;}
	25% {opacity: 0;}
	40% {opacity: 0.25%;}
	50% {opacity: 1;}
	75% {opacity: 1;}
	100% {opacity: 0;}
	
	from {left: 20%;}
	to {left: 0px;}
}

#isi
{
	/*background-color: blue;*/
	height: 450px;
	background-color: rgba(130,212,234,0.40); /*rgba(130,212,234,1.00); #82D4EA*/
	margin: 20px 0px;
	padding: 10px;
	border-radius: 20px;
}


.kiri
{
	background-color: aliceblue;
	float: left;
	width: 60%;
	text-align: left;
	margin: 5px;
	padding: 0px 10px;
	border-radius: 20px 0px 0px 0px;
}

.kanan
{
	background-color: aliceblue;
	float: right;
	width: 30%;
	margin: 5px;
	border-radius: 0px 20px 20px 0px;
}

#form
{
	background-color: orange; /*rgba(255,165,0,0.50)*/
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 0px 20px 0px 0px;
}

input
{
	border: none;
	padding: 10px;
	margin: 5px;
	width: 200px;
}

#submit
{
	width: 220px;
}

#tweet
{
	background-color: orange;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 0px 0px 20px 0px;
}

#footer
{
	/*background-color: yellow;*/
	background-image: url(picture/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 1000px;
	height: 300px;
	border-radius: 20px 20px 0px 0px;
}

.kiriFooter
{
	/*background-color: yellowgreen;*/
	background-color: rgba(255,255,255,0.50);
	float: left;
	margin: 10px 66px;
	width: 200px;
}

.kiriFooter p
{
	text-align: left;
}